<div class='default_fields'>
  <% [:elevator_pitch, :value_proposition, :internal_motivations].each do |field| %>
    <%= f.input field unless @project.overview.send(field) == '#removed' %>
  <% end %>
</div>

<%= render partial: 'shared/data_fields', locals: { df: f, project: @project, project_model: :overview } %>

<%= f.label :file_url, "Upload General Files" %>
<%= f.filepicker_field :file_url, :dragdrop => 'true', :button_class => 'btn' %>
