<div class='default_fields'>
  <% [:what_went_well, :what_could_have_gone_better, :what_surprised_you, :lesson_learned].each do |field| %>
    <%= f.input field unless @project.rollout.send(field) == '#removed' %>
  <% end %>
</div>

<%= render partial: 'data_fields', locals: { df: f, project: @project, project_model: :rollout } %>
