<div class='default_fields'>
  <% [:payment_processing_method, :billing_process_steps, :billing_update_requirements, :contract_requirements].each do |field| %>
    <%= f.input field unless @project.billing.send(field) == '#removed' %>
  <% end %>
</div>

<%= render partial: 'data_fields', locals: { df: f, project: @project, project_model: :billing } %>
