<div class='well' id='home_page_well'>
	<div class='row' id='blue_row'>
		<div class='span4' id='blue_text'>
			<h2>Build a plan and define your goals</h2>
			<h3 id='home_features'>Invite collaborators and centralize your project information through customizable templates.</h3>
		</div>
		<div class='span5' id='blueprint_image'>
			<%= image_tag 'bp_512.png' %>
		</div>
	</div>
	<hr>
	<div class='row'>
		<div class='span5'>
			<%= image_tag 'apis.png' %>
		</div>
		<br>
		<div class='span4' id='api_text'>	
			<h2>Integrate your web services to track performance</h2>
			<h3 id='home_features'>Map your project goals against realtime information gathered from the web's best analytics services.</h3>
		</div>
	</div>
	<hr>
	<div class='row' id='graph_row'>
		<br>
		<div class='span4' id='graph_text'>
			<h2>Monitor the impact of your projects in realtime</h2>
			<h3 id='home_features'>Bring transparency to the performance of your features to make more informed release decisions.</h3>
		</div>
		<div class='span5' id='graph_image'>
			<%= image_tag 'graph.png' %>
		</div>
	</div>	
	<br>	
</div>
<br>
<div class='well' id='home_page_well_bottom'>
	<%= link_to new_user_registration_path, :class => 'btn btn-large btn-success', :id => 'trial_button_bottom' do %>
      Start Your 30 Day FREE Trial <i class='icon-arrow-right icon-white'></i>
    <% end %> 
</div>    
