<<<<<<< HEAD
<div>
  <h2>Manage your projects end-to-end.</h2>
  <h4>Manage your entire software development lifecycle</h4>
    <%= link_to new_user_registration_path(:plan => 'silver'), :id => 'trial_btn', :class => 'btn btn-primary btn-large', :style => 'float:right' do %>
      Try It Free Today
    <% end %>   
<br />       
</div>      
<br />
<div class="row span8 plans">
  <div class="span2 well">
    <div class="plan"><h2>Silver</h2></div>
    <ul class="unstyled">
      <li>Manage up to 3 projects</li>
    </ul>
    <h3>$24/month</h3>
    <%= link_to 'Subscribe', new_user_registration_path(:plan => 'silver'), :class => 'btn btn-primary' %> 
  </div>
  <div class="span2 well featured">
    <div class="plan featured-plan"><h2>Gold</h2></div>
    <ul class="unstyled">
      <li>Manage up to 10 projects</li>
    </ul>
    <h3>$49/month</h3>
    <%= link_to 'Subscribe', new_user_registration_path(:plan => 'gold'), :class => 'btn btn-primary' %> 
  </div>
  <div class="span2 well">
    <div class="plan"><h2>Platinum</h2></div>
    <ul class="unstyled">
      <li>Manage Unlimited projects</li>
    </ul>
    <h3>$99/month</h3>
    <%= link_to 'Subscribe', new_user_registration_path(:plan => 'platinum'), :class => 'btn btn-primary' %> 
  </div>
</div>
=======
<div id="welcome" class="hero-unit span7">
  <h2>From Idea to Traction</h2>
  <h3>Manage your entire software development lifecycle</h3>
</div>
>>>>>>> invite-comment
