<div class='well' id='home_page_well'>
	<div class='row'>
		<div class='span4'>
			<p>Build a plan & set your goals</p>
		</div>
		<div class='span5'>
			<%= image_tag 'bp_512.png' %>
		</div>
	</div>
	<hr>
	<div class='row'>
		<div class='span4'>
			<%= image_tag 'logos.png' %>
		</div>
		<div class='span5'>
			<p>Integrate your web services to track performance</p>
		</div>
	</div>
	<hr>
	<div class='row'>
		<div class='span4'>
			<p>Grow revenue by identifying problem points early</p>
		</div>
		<div class='span5'>
			<p>Image</p>
		</div>
	</div>		
</div>