<div class='well' id='home_page_well'>
	<div class='row'>
		<div class='span4'>
			<h3>Build a plan & set your goals</h3>
			<h4>Use our customizable project template to communicate your project plan and goals.
				Now everyone in your organization can access each aspect of the project plan including
				the product development schedule, the marketing plan through to the Beta clients.</h4>
		</div>
		<div class='span5'>
			<%= image_tag 'bp_512.png' %>
		</div>
	</div>
	<hr>
	<div class='row'>
		<div class='span5'>
			<%= image_tag 'bp_512.png' %>
		</div>
		<div class='span4'>
			<h3>Integrate your web services to track performance</h3>
			<h4>Ensure each feature released or project undertaken is having the expacted organizational impact. Leverage the web services you're using to monitor and track the performance of feature 
			releases and communicate their success throughout the organization.</h4> 
		</div>
	</div>
	<hr>
	<div class='row'>
		<div class='span4' id='home_align'>
			<h3>Monitor the impact of your projects in realtime</h3>
			<h4>See the success of your feature releases presented in realtime via our direct integrations
				with the web serviecs you're using to determine overall company health. Now you can gather
				your project information in realtime, in a single location.</h4>
		</div>
		<div class='span5'>
			<%= image_tag 'bp_512.png' %>
		</div>
	</div>		
</div>