<div id='project_container' style='padding:20px'>
  <div align='center'>
  	<h1>Wow, this is embarrassing</h1>
  	<br>
	<h3 style='color:grey'>We're not quite ready to lift the curtain on Learos</h3>
  	<br>
  	<span><h3>Sing out if you'd like to be notified when registrations open</h3><a href="https://twitter.com/intent/tweet?screen_name=peteralderson&text=Hey!%20This%20Learos%20thing%20looks%20interesting.%20Let%20me%20know%20when%20I%20can%20sign%20up%20via%20http%3A%2F%2Flearos.com!" class="twitter-mention-button" data-size="large">Tweet to @peteralderson</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></span>
  </div>
</div>
