<div class='default_fields'>
  <% [:external_messaging, :internal_messaging, :marketing_budget, :alpha_invite_email, :beta_invite_email].each do |field| %>
    <%= f.input field unless @project.marketing.send(field) == '#removed' %>
  <% end %>
</div>

<%= render partial: 'data_fields', locals: { df: f, project: @project, project_model: :marketing } %>

<%= f.label :file_url, "Upload Marketing Materials" %>
<%= f.filepicker_field :file_url, :dragdrop => 'true', :button_class => 'btn' %>
