<div class='default_fields'>
  <%= f.input :description unless @project.test_client.description == '#removed' %>
</div>

<%= render partial: 'data_fields', locals: { df: f, project: @project, project_model: :test_client } %>
