<div class='default_fields'>
  <%= f.input :first, label: 'Client 1' unless @project.test_client.first == '#removed' %>
  <%= f.input :second, label: 'Client 2' unless @project.test_client.second == '#removed' %>
  <%= f.input :third, label: 'Client 3' unless @project.test_client.third == '#removed' %>
</div>

<%= render partial: 'data_fields', locals: { df: f, project: @project, project_model: :test_client } %>
