<%= simple_form_for([@project, test_client], html: { class: 'form-horizontal active-table-form' }) do |f| %>
  <%= f.input :description %>

  <div class='form-actions'>
    <%= f.submit 'Save', class: 'btn btn-primary' %>
  </div>
<% end %>
