<div class='inline'>
  <h3>Manage Collaborators
    <%= link_to new_project_collaboration_path(@project), :id => 'invite_on_manage', :class => 'btn btn-success' do %>
      <i class='icon-plus icon-white'></i> Invite Collaborator
    <% end %> 
  </h3>  
</div>

<table class='table'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <%= render @collaborations %>
  </tbody>
</table>