<div class='well' id='signup_box'>
  	<div class='row'>
    	<div class='span3'><br>
			<%= render 'form' %>
		</div>
	</div>
	<div class='span4'> 
    	<h4 style='line-height:200%'>  
    		Why work alone? Invite your colleagues to participate in the planning process, validate your assumptions and provide feedback.
    	</h4>  
    </div>
</div> 