<div class='default_fields'>
  <% [:step_one, :step_two, :step_three, :step_four, :step_five].each do |field| %>
    <%= f.input field unless @project.onboarding.send(field) == '#removed' %>
  <% end %>
</div>

<%= render partial: 'data_fields', locals: { df: f, project: @project, project_model: :onboarding } %>
