<div class='default_fields'>
  <% [:six_week_goals, :three_month_goals, :six_month_goals].each do |field| %>
    <%= f.input field unless @project.goal.send(field) == '#removed' %>
  <% end %>
</div>

<%= render partial: 'data_fields', locals: { df: f, project: @project, project_model: :goal } %>
