<div class='default_fields'>
  <% [:company_training_materials, :user_training_materials].each do |field| %>
    <%= f.input field unless @project.client_training.send(field) == '#removed' %>
  <% end %>
</div>

<%= render partial: 'data_fields', locals: { df: f, project: @project, project_model: :client_training } %>

<%= f.label :file_url, "Upload Training Materials" %>
<%= f.filepicker_field :file_url, :dragdrop => 'true', :button_class => 'btn' %>
