<div class='default_fields'>
  <% [:ideal_client, :applicable_client_percentage, :client_motivations, :target_budget, :purchase_decision_maker, :product_user].each do |field| %>
    <%= f.input field unless @project.profile.send(field) == '#removed' %>
  <% end %>
</div>

<%= render partial: 'data_fields', locals: { df: f, project: @project, project_model: :profile } %>
